@charset "utf-8";
body {
  background-color: #263238;
}
h1 {
  color: #ffffff;
}
table {
  width: 400px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
}
td {
  color: #ffffff;
  height: 5%;
  background-color: #455a64;
}
.i {
  background-color: #00bcd4; /* cyan */
}

.o {
  background-color: #ffeb3b; /* yellow */
}

.t {
  background-color: #9c27b0; /* purple */
}

.s {
  background-color: #4caf50; /* green */
}

.z {
  background-color: #f44336; /* red */
}

.j {
  background-color: #2196f3; /* blue */
}

.l {
  background-color: #ff9800; /* orange */
}
